#!/bin/sh
set -e

defaultpaper () {
   # This is always in millimeters.  If no locale is specified or
   # available, it will default to a4.
   w=$(locale width  2>/dev/null) || return 0
   h=$(locale height 2>/dev/null) || return 0

   # Try to find a matching paper size.  The data must be embedded here
   # (done automatically by debian/rules) because the rest of the package
   # may not have been unpacked at this stage.
   LC_ALL=C awk -v w="$w" -v h="$h" 'NF == 3 && int($2*72/2.54 + 0.5) == w && int($3*72/2.54 + 0.5) == h {
		    print $1;
		    exit}
   	NF == 4 && $2 == w && $3 == h {
		    print $1;
		    exit
		 }' <<__END_PAPERSPECS__
__BEGIN_PAPERSPECS__
a4 210 297 mm
letter 612 792
note 612 792
legal 612 1008
executive 522 756
halfletter 396 612
halfexecutive 378 522
11x17 792 1224
statement 396 612
folio 612 936
quarto 610 780
10x14 720 1008
ledger 1224 792
tabloid 792 1224
a0 841 1189 mm
a1 594 841 mm
a2 420 594 mm
a3 297 420 mm
a5 148 210 mm
a6 105 148 mm
a7 74 105 mm
a8 52 74 mm
a9 37 52 mm
a10 26 37 mm
b0 1000 1414 mm
b1 707 1000 mm
b2 500 707 mm
b3 353 500 mm
b4 250 353 mm
b5 176 250 mm
b6 125 176 mm
b7 88 125 mm
b8 62 88 mm
b9 44 62 mm
b10 31 44 mm
c2 458 648 mm
c3 324 458 mm
c4 229 324 mm
c5 162 229 mm
c6 114 162 mm
c7 81 114 mm
c8 57 81 mm
DL 110 220 mm
Comm10 297 684
Monarch 279 540
archE 2592 3456
archD 1728 2592
archC 1296 1728
archB 864 1296
archA 648 864
flsa 612 936
flse 612 936
csheet 1224 1584
dsheet 1584 2448
esheet 2448 3168
__END_PAPERSPECS__
}

. /usr/share/debconf/confmodule

if [ -f /etc/papersize ]; then
   # Configuration file always takes priority.  Ignore comments.
   paper=`awk '$1 ~ /^[^#]/ { print $1 }' /etc/papersize`
elif db_get libpaper/defaultpaper && [ -n "$RET" ]; then
   # The answer is already in the database; don't touch it.
   paper=
else
   paper=`defaultpaper`
fi
if [ -n "$paper" ]; then
   db_set libpaper/defaultpaper "$paper"
fi

db_input medium libpaper/defaultpaper || true
db_go || true
