[Desktop Entry]
Type=Application
Name=User folders update
TryExec=xdg-user-dirs-update
Exec=xdg-user-dirs-update
StartupNotify=false
NoDisplay=true
X-Ubuntu-Gettext-Domain=xdg-user-dirs

X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
