[Unit]
Description=D-Bus System Message Bus Socket
# Do not stop on shutdown
DefaultDependencies=no
Wants=sysinit.target
After=sysinit.target

[Socket]
ListenStream=/run/dbus/system_bus_socket
