[Unit]
Description=getty on tty2-tty6 if dbus and logind are not available
ConditionPathExists=/dev/tty0
ConditionPathExists=!/usr/bin/dbus-daemon
ConditionPathExists=!/usr/bin/dbus-broker

[Service]
Type=oneshot
ExecStart=systemctl --no-block start getty@tty2.service getty@tty3.service getty@tty4.service getty@tty5.service getty@tty6.service
RemainAfterExit=true
